<!DOCTYPE html>
<html lang="en">

<!-- product-detail06:46-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Furnitica</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">


    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
</head>

<body id="product-detail">
    <header>
        <!-- header left mobie -->
        <div class="header-mobile d-md-none">
            <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

                <!-- menu left -->
                <div id="mobile_mainmenu" class="item-mobile-top">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <!-- logo -->
                <div class="mobile-logo">
                    <a href="index-2.html">
                        <img class="logo-mobile img-fluid" src="/img/homelogo.png" alt="Prestashop_Furnitica"
                            style="width:14rem;height:2rem;mix-blend-mode: darken;">
                    </a>
                </div>

                <!-- menu right -->
                <div class="mobile-menutop" data-target="#mobile-pagemenu">
                    <i class="zmdi zmdi-more"></i>
                </div>
            </div>

            <!-- search -->
            <div id="mobile_search" class="d-flex">
                <div id="mobile_search_content">
                    <form method="get" action="#">

                        <input type="text" name="s" value="" placeholder="Search">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="desktop_cart">
                    <div class="blockcart block-cart cart-preview tiva-toggle">
                        <div class="header-cart tiva-toggle-btn">

                            <a href="/loadCart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-sm-2 col-md-2 d-flex align-items-center">
                        <div id="logo">
                            <a href="index-2.html">
                                <img src="/img/homelogo.png" alt="logo" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <!-- menu -->
                    <div class="col-sm-5 col-md-5 align-items-center justify-content-center navbar-expand-md main-menu">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li>
                                    <a href="/" class="parent">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="parent">CATEGORY</a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            {{#each cateData}}
                                            <li class="item">
                                                <a href="/productlist/{{this._id}}">{{this.category}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/shopPage" class="parent">shop</a>

                                </li>
                                <li>
                                    <a href="contact.html" class="parent">Contact US</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- search and acount -->
                    <div class="col-sm-5 col-md-5 d-flex align-items-center justify-content-end" id="search_widget">
                        <form method="get" action="#">

                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <input type="text" name="s" value="" placeholder="Search" class="ui-autocomplete-input"
                                autocomplete="off">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>

                        <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                            <div class="myaccount-title ">
                                <a href="#acount" data-toggle="collapse" class="acount">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>Account</span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>

                            </div>

                            <div id="acount" class="collapse">

                                <div class="account-list-content">

                                    <div>
                                        <a class="login" href="/userProfile" rel="nofollow"
                                            title="Log in to your customer account">
                                            <i class="fa fa-cog"></i>
                                            <span>My Account</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="login" href="" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-sign-in"></i>
                                            <span>Sign in</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="register" href="/register" rel="nofollow" title="Register Account">
                                            <i class="fa fa-user"></i>
                                            <span>Register Account</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="check-out" href="/checkOut" rel="nofollow" title="Checkout">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Checkout</span>
                                        </a>
                                    </div>
                                    <div class="link_wishlist">
                                        <a href="/wishList" title="My Wishlists">
                                            <i class="fa fa-heart"></i>
                                            <span>My Wishlists</span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="desktop_cart">
                            <div class="blockcart block-cart cart-preview tiva-toggle">
                                <div class="header-cart tiva-toggle-btn">

                                    <a href="/loadCart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Living Room</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Sofa</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-9">
                                        <div class="main-product-detail">
                                            <h2>{{productData.productName}}</h2>
                                            <input name="productName" value="{{productData.productName}}" type="hidden">
                                            <div class="product-single row">
                                                <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                    <div class="page-content" id="content">
                                                        <div class="images-container">
                                                            <div class="js-qv-mask mask tab-content border">
                                                                <div id="item1" class="tab-pane fade active in show">

                                                                    <img src="/uploads/{{productData.images.[0]}}"
                                                                        alt="img">
                                                                </div>
                                                                <div id="item2" class="tab-pane fade">
                                                                    <img src="/uploads/{{productData.images.[1]}}"
                                                                        alt="img">
                                                                </div>
                                                                <div id="item3" class="tab-pane fade">
                                                                    <img src="/uploads/{{productData.images.[2]}}"
                                                                        alt="img">
                                                                </div>

                                                                <div class="layer hidden-sm-down" data-toggle="modal"
                                                                    data-target="#product-modal">
                                                                    <i class="fa fa-expand"></i>
                                                                </div>
                                                            </div>
                                                            <ul class="product-tab nav nav-tabs d-flex">

                                                                <ul class="product-tab nav nav-tabs d-flex">
                                                                    <li class="col">
                                                                        <a href="#item1" data-toggle="tab"
                                                                            aria-expanded="true" class="active show">
                                                                            <img src="/uploads/{{productData.images.[0]}}"
                                                                                alt="img">
                                                                        </a>
                                                                    </li>
                                                                    <li class="col">
                                                                        <a href="#item2" data-toggle="tab">
                                                                            <img src="/uploads/{{productData.images.[1]}}"
                                                                                alt="img">
                                                                        </a>
                                                                    </li>
                                                                    <li class="col">
                                                                        <a href="#item3" data-toggle="tab">
                                                                            <img src="/uploads/{{productData.images.[2]}}"
                                                                                alt="img">
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </ul>
                                                            <div class="modal fade" id="product-modal" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <div class="modal-body">
                                                                                <div class="product-detail">
                                                                                    <div>
                                                                                        <div class="images-container">
                                                                                            <div
                                                                                                class="js-qv-mask mask tab-content">
                                                                                                <div id="modal-item1"
                                                                                                    class="tab-pane fade active in show">
                                                                                                    <img src="/uploads/{{productData.images.[0]}}"
                                                                                                        alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item2"
                                                                                                    class="tab-pane fade">
                                                                                                    <img src="/uploads/{{productData.images.[1]}}"
                                                                                                        alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item3"
                                                                                                    class="tab-pane fade">
                                                                                                    <img src="/uploads/{{productData.images.[2]}}"
                                                                                                        alt="img"><img
                                                                                                        src="img/product/3.jpg"
                                                                                                        alt="img">
                                                                                                </div>

                                                                                            </div>
                                                                                            
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                    <div class="detail-description">
                                                        <div class="price-del">
                                                            <span class="price">{{productData.price}}</span>
                                                            <span class="float-right">
                                                                <span class="availb">Availability: </span>
                                                                <span class="check">
                                                                    <i class="fa fa-check-square-o"
                                                                        aria-hidden="true"></i>IN STOCK</span>
                                                            </span>
                                                        </div>
                                                        <p class="description">{{productData.description}}</p>
                                                        <div class="option has-border d-lg-flex size-color">
                                                            <div class="size">
                                                                <span class="size">size :</span>
                                                                <select>
                                                                    <option value="">Choose your size</option>
                                                                    <option value="">M</option>
                                                                    <option value="">l</option>
                                                                    <option value="">xl</option>
                                                                </select>
                                                            </div>
                                                           
                                                        </div>
                                                        <div class="has-border cart-area">
                                                            <div class="product-quantity">
                                                                <div class="qty">
                                                                    <div class="input-group">
                                                                        <div class="quantity">
                                                                            <span class="control-label">QTY : </span>
                                                                            <input type="number" name="qty"
                                                                                id="{{productId}}" value=1
                                                                                class="input-group form-control"
                                                                                readonly />

                                                                            <span class="input-group-btn-vertical">
                                                                                <button
                                                                                    onclick="productQuantity('{{productId}}','inc')"
                                                                                    class="btn btn-touchspin js-touchspin bootstrap-touchspin-up"
                                                                                    type="button">
                                                                                    +
                                                                                </button>

                                                                                {{!-- <input disabled type="number"
                                                                                    id="{{productId}}"
                                                                                    style="text-align: center;"
                                                                                    class="form-control"
                                                                                    name="num-product" value="1"> --}}

                                                                                <button
                                                                                    onclick="productQuantity('{{productId}}','dec')"
                                                                                    class="btn btn-touchspin js-touchspin bootstrap-touchspin-down"
                                                                                    type="button">
                                                                                    -
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                        <span class="add">
                                                                            {{!-- {{#if productData.stock}}
                                                                            {{#if userData}}
                                                                            {{#if productData.isOnCart}}

                                                                            <a href="/loadCart"><button
                                                                                    class="btn btn-primary add-to-cart add-item"
                                                                                    id="addToCartBtn"
                                                                                    data-button-action="add-to-cart"
                                                                                    type="submit">
                                                                                    <i class="fa fa-shopping-cart"
                                                                                        aria-hidden="true"></i>
                                                                                    <span>Go to Cart</span>
                                                                                </button></a>
                                                                            {{else}}

                                                                            <a href="/login"><button
                                                                                    class="btn btn-primary add-to-cart add-item"
                                                                                    data-button-action="add-to-cart"
                                                                                    type="submit">
                                                                                    <i class="fa fa-shopping-cart"
                                                                                        aria-hidden="true"></i>
                                                                                    <span>Add to cart</span>
                                                                                </button></a>
                                                                            {{/if}}

                                                                            {{else}}
                                                                            <a href=""><button
                                                                                    class="btn btn-primary add-to-cart add-item"
                                                                                    data-button-action="add-to-cart"
                                                                                    type="submit"
                                                                                    onclick="addToCart('{{productData._id}}')">
                                                                                    <i class="fa fa-shopping-cart"
                                                                                        aria-hidden="true"></i>
                                                                                    <span>Add to cart</span>

                                                                                    {{/if}}

                                                                                    {{else}}
                                                                                    <a href=""><button
                                                                                            class="btn btn-primary add-to-cart add-item"
                                                                                            data-button-action="add-to-cart"
                                                                                            type="submit">
                                                                                            <i class="fa fa-shopping-cart"
                                                                                                aria-hidden="true"></i>
                                                                                            <span>Out Of Stock</span>
                                                                                            --}}


                                                                                            {{!-- {{#if
                                                                                            productData.stock}}
                                                                                            {{#if userData}}
                                                                                            {{#if productData.isOnCart}}
                                                                                            --}}
                                                                                            {{!-- <a href="/loadCart">
                                                                                                <button
                                                                                                    class="btn btn-primary add-to-cart add-item"
                                                                                                    id="addToCartBtn"
                                                                                                    data-button-action="add-to-cart"
                                                                                                    type="submit">
                                                                                                    <i class="fa fa-shopping-cart"
                                                                                                        aria-hidden="true"></i>
                                                                                                    <span>Go to
                                                                                                        Cart</span>
                                                                                                </button>
                                                                                            </a>
                                                                                            {{else}} --}}
                                                                                            {{!-- <a href="/login">
                                                                                                <button
                                                                                                    class="btn btn-primary add-to-cart add-item"
                                                                                                    data-button-action="add-to-cart"
                                                                                                    type="submit">
                                                                                                    <i class="fa fa-shopping-cart"
                                                                                                        aria-hidden="true"></i>
                                                                                                    <span>Add to
                                                                                                        cart</span>
                                                                                                </button>
                                                                                            </a>
                                                                                            {{/if}}
                                                                                            {{else}} --}}

                                                                                            <button id="addToCartBtn"
                                                                                                class="btn btn-primary add-to-cart add-item"
                                                                                                data-button-action="add-to-cart"
                                                                                                onclick="addToCart('{{productId}}')">
                                                                                                <i class="fa fa-shopping-cart"
                                                                                                    aria-hidden="true"></i>
                                                                                                <span>Add to cart</span>
                                                                                            </button>

                                                                                            <button
                                                                                                onclick="addToWishlist('{{productData._id}}','{{cartId}}')">
                                                                                                <a
                                                                                                    class="addToWishlist">
                                                                                                    <i class="fa fa-heart"
                                                                                                        aria-hidden="true"></i>
                                                                                                </a>
                                                                                            </button>


                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <p class="product-minimal-quantity">
                                                            </p>
                                                        </div>
                                                        <div class="d-flex2 has-border">
                                                            <div class="btn-group">
                                                                <a href="#">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                    <span>Share</span>
                                                                </a>
                                                                <a href="#" class="email">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <span>SEN TO A FRIEND</span>
                                                                </a>
                                                                <a href="#" class="print">
                                                                    <i class="zmdi zmdi-print"></i>
                                                                    <span>Print</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="rating-comment has-border d-flex">
                                                            <div class="review-description d-flex">
                                                                <span>REVIEW :</span>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                        <div class="star"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="read after-has-border">

                                                            </div>
                                                            <div class="apen after-has-border">

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="review">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#description"
                                                            class="active show">Description</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="description" class="tab-pane fade in active show">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do
                                                            eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua.Lorem
                                                            ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                            eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua.
                                                        </p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do
                                                            eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua.Lorem
                                                            ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                            eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua.
                                                        </p>
                                                    </div>

                                                    <div id="review" class="tab-pane fade">
                                                        <div class="spr-form">
                                                            <div class="user-comment">
                                                                <div class="spr-review">
                                                                    <div class="spr-review-header">
                                                                        <span class="spr-review-header-byline">
                                                                            <strong>Peter Capidal</strong> -
                                                                            <span>Apr 14, 2018</span>
                                                                        </span>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spr-review-content">
                                                                        <p class="spr-review-content-body">In feugiat
                                                                            venenatis enim, non finibus metus bibendum
                                                                            eu. Proin massa justo, eleifend fermentum
                                                                            varius
                                                                            quis, semper gravida quam. Cras nec enim sed
                                                                            lacus viverra luctus. Nunc quis accumsan
                                                                            mauris.
                                                                            Aliquam fermentum sit amet est id
                                                                            scelerisque.
                                                                            Nam porta risus metus.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="spr-review preview2">
                                                                    <div class="spr-review-header">
                                                                        <span class="spr-review-header-byline">
                                                                            <strong>David James</strong> -
                                                                            <span>Apr 13, 2018</span>
                                                                        </span>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spr-review-content">
                                                                        <p class="spr-review-content-body">In feugiat
                                                                            venenatis enim, non finibus metus bibendum
                                                                            eu. Proin massa justo, eleifend fermentum
                                                                            varius
                                                                            quis, semper gravida quam. Cras nec enim sed
                                                                            lacus viverra luctus. Nunc quis accumsan
                                                                            mauris.
                                                                            Aliquam fermentum sit amet est id
                                                                            scelerisque.
                                                                            Nam porta risus metus.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <form method="post" action="#" class="new-review-form">
                                                            <input type="hidden" name="review[rating]" value="3">
                                                            <input type="hidden" name="product_id">
                                                            <h3 class="spr-form-title">Write a review</h3>
                                                            <fieldset>
                                                                <div class="spr-form-review-rating">
                                                                    <label class="spr-form-label">Your Rating</label>
                                                                    <fieldset class="ratings">
                                                                        <input type="radio" id="star5" name="rating"
                                                                            value="5" />
                                                                        <label class="full" for="star5"
                                                                            title="Awesome - 5 stars"></label>
                                                                        <input type="radio" id="star4half" name="rating"
                                                                            value="4 and a half" />
                                                                        <input type="radio" id="star4" name="rating"
                                                                            value="4" />
                                                                        <label class="full" for="star4"
                                                                            title="Pretty good - 4 stars"></label>
                                                                        <input type="radio" id="star3half" name="rating"
                                                                            value="3 and a half" />
                                                                        <input type="radio" id="star3" name="rating"
                                                                            value="3" />
                                                                        <label class="full" for="star3"
                                                                            title="Meh - 3 stars"></label>
                                                                        <input type="radio" id="star2half" name="rating"
                                                                            value="2 and a half" />
                                                                        <input type="radio" id="star2" name="rating"
                                                                            value="2" />
                                                                        <label class="full" for="star2"
                                                                            title="Kinda bad - 2 stars"></label>
                                                                        <input type="radio" id="star1half" name="rating"
                                                                            value="1 and a half" />
                                                                        <input type="radio" id="star1" name="rating"
                                                                            value="1" />
                                                                        <label class="full" for="star1"
                                                                            title="Sucks big time - 1 star"></label>
                                                                        <input type="radio" id="starhalf" name="rating"
                                                                            value="half" />
                                                                    </fieldset>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="spr-form-contact">
                                                                <div class="spr-form-contact-name">
                                                                    <input
                                                                        class="spr-form-input spr-form-input-text form-control"
                                                                        value="" placeholder="Enter your name">
                                                                </div>
                                                                <div class="spr-form-contact-email">
                                                                    <input
                                                                        class="spr-form-input spr-form-input-email form-control"
                                                                        value="" placeholder="Enter your email">
                                                                </div>
                                                            </fieldset>
                                                            <fieldset>
                                                                <div class="spr-form-review-body">
                                                                    <div class="spr-form-input">
                                                                        <textarea class="spr-form-input-textarea"
                                                                            rows="10"
                                                                            placeholder="Write your comments here"></textarea>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <div class="submit">
                                                                <input type="submit" name="addComment"
                                                                    id="submitComment" class="btn btn-default"
                                                                    value="Submit Review">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div id="tag" class="tab-pane fade in">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do
                                                            eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua.Lorem
                                                            ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                            eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua.
                                                        </p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                                            do
                                                            eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua.Lorem
                                                            ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                            eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer-one">
        <div class="inner-footer">
            <div class="container">
                <div class="footer-top col-lg-12 col-xs-12">
                    <div class=" row">
                        <div class="nov-html col-lg-4 col-sm-12 col-xs-12">
                            <div class="block">
                                <div class="block-content">
                                    <div class="col-6 mb-2" style="margin-left: -16px;">
                                        <img class="img-fluid" src="/img/homelogo.png" alt="img" />
                                    </div>
                                    <p class="content-logo">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed
                                        do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim
                                    </p>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block-content">
                                    <ul>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Reasons to shop</a>
                                        </li>
                                        <li>
                                            <a href="#">What our customers say</a>
                                        </li>
                                        <li>
                                            <a href="#">Meet the teaml</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact our buyers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block-content">
                                    <p class="img-payment ">
                                        <img class="img-fluid" src="img/home/payment-footer.png" alt="img">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="nov-html col-lg-4 col-sm-6">
                            <div class="block m-top">
                                <div class="title-block">
                                    Contact Us
                                </div>
                                <div class="block-content">
                                    <div class="contact-us">
                                        <div class="title-content">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Address :</span>
                                        </div>
                                        <div class="content-contact address-contact">
                                            <p>123 Suspendis matti, Visaosang Building VST District NY Accums, North
                                                American
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contact-us">
                                        <div class="title-content">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <span>Email :</span>
                                        </div>
                                        <div class="content-contact mail-contact">
                                            <p>support@domain.com</p>
                                        </div>
                                    </div>
                                    <div class="contact-us">
                                        <div class="title-content">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <span>Hotline :</span>
                                        </div>
                                        <div class="content-contact phone-contact">
                                            <p>+0012-345-67890</p>
                                        </div>
                                    </div>
                                    <div class="contact-us">
                                        <div class="title-content">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <span>Opening Hours :</span>
                                        </div>
                                        <div class="content-contact hours-contact">
                                            <p>Monday - Sunday / 08.00AM- 19.00</p>
                                            <span>(Except Holidays)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tiva-modules col-lg-4 col-md-6">
                            <div class="block m-top">
                                <div class="block-content">
                                    <div class="title-block">Newsletter</div>
                                    <div class="sub-title">Sign up to our newsletter to get the latest articles,
                                        lookbooks voucher codes direct
                                        to your inbox
                                    </div>
                                    <div class="block-newsletter">
                                        <form action="#" method="post">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="email" value=""
                                                    placeholder="Enter Your Email">
                                                <span class="input-group-btn">
                                                    <button class="effect-btn btn btn-secondary "
                                                        name="submitNewsletter" type="submit">
                                                        <span>subscribe</span>
                                                    </button>
                                                </span>
                                            </div>
                                            <input type="hidden" name="action" value="0">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="block m-top1">
                                <div class="block-content">
                                    <div class="social-content">
                                        <div class="title-block">
                                            Follow us on
                                        </div>
                                        <div id="social-block">
                                            <div class="social">
                                                <ul class="list-inline mb-0 justify-content-end">
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item mb-0">
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-instagram"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block m-top1">
                                <div class="block-content">
                                    <div class="payment-content">
                                        <div class="title-block">
                                            Payment accept
                                        </div>
                                        <div class="payment-image">
                                            <img class="img-fluid" src="img/home/payment.png" alt="img">
                                        </div>
                                    </div>
                                    <!-- Popup newsletter -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tiva-copyright">
            <div class="container">
                <div class="row">
                    <div class="text-center col-lg-12 ">
                        <span>
                            <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
    

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#home1"
                                    aria-expanded="true" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <a href="/"> <i class="zmdi zmdi-plus"></i></a>

                                </span>
                                <a href="#" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    {{!-- <i class="fa fa-address-book" aria-hidden="true"></i>Category</a> --}}
                                   <i class="fa fa-cubes"></i>Category</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                         {{#each cateData}}
                                        <li class="item">
                                            <a href="/productlist/{{this._id}}">{{this.category}}</a>
                                        </li>
                                         {{/each}}
                                    </ul>
                                </div>
                            </li>
                            <li class="item group has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#page"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <a href="/shopPage"><i class="zmdi zmdi-plus"></i></a>
                                    
                                </span>
                                <a href="#" title="Page">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i>shop</a>
                                
                            </li>
                            <li class="item has-sub">
                                <a href="/contact" title="Contact us">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>Contact us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <script>
        const productQuantity = async (id, act) => {
            const elem = document.getElementById(id);
            if (act == "inc") elem.value ? (elem.value = Number(elem.value) + 1) : "";
            else if (act == "dec") elem.value > 1 ? (elem.value = Number(elem.value) - 1) : "";

            elem.setAttribute("value", elem.value);

            console.log(elem.value, 2452)
        };



        console.log('script tag and out side  add to cart')
        const addToCart = async (productId) => {

            const response = await fetch("/check-login");
            const data = await response.json();

            console.log(data, "rrrrrrrrrrrrrrrrrrrrrrrrrrr")

            if (!data.loggedIn) {

                Swal.fire({
                    title: "Login Required",
                    text: "Please login to add items to your cart.",
                    icon: "info",
                    showConfirmButton: true,
                    confirmButtonText: "Login",
                    showCancelButton: true,
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {

                        window.location.href = "/login";
                    }
                });
            } else {

                const quantity = document.getElementById(productId).value
                const response = await fetch(`/addToCart?id=${productId}&quantity=${quantity}`, {
                    method: "GET",
                    headers: {
                        "content-Type": "application/json",
                    },
                });

                let data = await response.json()

                if (data.message === "Item already in cart!!") {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Product is already in cart.\n So quantity increased",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Product successfully added to cart",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                }
            };


            const addToWishlist = async (productId, cartId) => {
                const response = await fetch(`/addToWishlist?productId=${productId}&cartId=${cartId}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                let data = await response.json();

                if (data.message === "Added to wishlist") {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Product added to wishlist",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });

                    document.getElementById("row" + productId).innerHTML = "";
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "warning",
                        title: "Product is already in wishlist!",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                }
            };

        }
    </script>

    <!-- Vendor JS -->
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/popper/popper.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="/libs/slider-range/js/tmpl.js"></script>
    <script src="/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="/libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="/js/theme.js"></script>
</body>


<!-- product-detail07:06-->

</html>